h1{
    border:4px solid blue;
    border-radius: 20px;
    color:blueviolet;
    align-items: center;

    
}
body{
    background-color: black;

}
p{
    border-bottom: 3px solid blue;
    border-top:3px solid blue;
    border-left: 3px dotted blue;
    border-right:3px dotted blue;
    color:blueviolet;
    font-size: x-large;
}