<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Borders</title>
    <link rel="stylesheet" href="styles/style1.css">
</head>
<body>
    <h1 ><center>Madhavan Is a Coder</center> </h1>
    <h3 style="color:blue">About Madhavan :</h3>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero praesentium animi distinctio incidunt officiis 
        iusto nostrum facere quia et doloribus eum, tempora blanditiis id 
        asperiores optio! Nihil voluptatibus asperiores tempore.
    </p>
</body>
</html>