<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Madhavan Page</title>
    <link rel="stylesheet" href="/templates/styles/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Momo+Signature&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">

</head>
<body>
    <h1>Welcome to Madhavan's Page</h1>
    <a href="">Home</a>
    <a href="" >Services</a>
    <a href="">About Us</a>
    <a href="">Contact Us</a><br>
    <hr >
    <p class="odd">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate assumenda consequuntur laborum deleniti corporis vel expedita et fuga voluptates delectus exercitationem, officiis facilis, est tempora saepe nostrum eligendi, placeat id!
    </p>
    <p class="even">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate assumenda consequuntur laborum deleniti corporis vel expedita et fuga voluptates delectus exercitationem, officiis facilis, est tempora saepe nostrum eligendi, placeat id!
    </p>
    <p class="odd">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate assumenda consequuntur laborum deleniti corporis vel expedita et fuga voluptates delectus exercitationem, officiis facilis, est tempora saepe nostrum eligendi, placeat id!
    </p>
    <p class="even">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate assumenda consequuntur laborum deleniti corporis vel expedita et fuga voluptates delectus exercitationem, officiis facilis, est tempora saepe nostrum eligendi, placeat id!
    </p>
    <a href="https://instagram.com/yourusername" target="_blank">
  <i class="fa-brands fa-instagram" style="font-size:40px; color:#E1306C;"></i>
</a>

<a href="https://www.google.com" target="_blank">
  <i class="fa-brands fa-google" style="font-size:40px; color:#4285F4;"></i>
</a>

    

    
</body>
</html>